body {
  background-color: #FFF8DC;
  font-family: Arial, sans-serif;
}
/*--navbar--*/

.navbar-brand {
  font-size: 50px;
  font-family: "lucida console";
}
.navbar {
  background-color: #3CB371;
}

.pokemon-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.pokemon-list li {
  margin: 20px auto;
}

.pokemon-button {
  min-width: 300px;
  padding: 5px 10px;
  color: white;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.button-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

/*--modal*/
.modal-content{
	margin-top: 5vh;
}

.modal-title{
	color: #FFCB05;
}

.modal-header {
	border: none;
	background-color: #303030;
}
.modal-body {
	display: flex;
	flex-direction: column;
	border-left: 6px solid #303030;
	border-right: 6px solid #303030;
}

.modal-img {
  height: 200px;
  width: 200px;
  margin-top: 20px;
  margin-bottom: 40px;
  align-self: center;
}

.modal-footer{
	border-left: 6px solid #303030;
	border-right: 6px solid #303030;
	border-bottom: 6px solid #303030;
	border-top: none;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
  color: #777;
  text-decoration: underline;
}
